[sithmail]
username={{ key "bots/sithmail/nick" }}
password={{ keyOrDefault "bots/sithmail/password" "" }}
host={{ key "bots/sithmail/host" }}
port={{ key "bots/sithmail/port" }}
ssl={{ key "bots/sithmail/ssl" }}
